body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
    width: 100%;
    display: flex;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
}
/*----------------------------------form--------------------------------*/
.form{
    width: 30%;
    padding: 20px 20px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 1px 2px #d3d2d2;
}
.form-label{
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}
.form-group{
    padding: 12px 12px;
}
.form-group-radio{
    display: flex;
}
.form-control{
    background-color: #f5f5f5;
    width: 90%;
    padding: 10px 10px;
    margin: 5px 5px;
    outline: none;
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    box-shadow: 1px 1px #b7b7b7;
}
.error{
    padding-left: 15px;
    padding-bottom: 5px;
    color: red;
    text-align: left;
}

.form-submit{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.form-submit a{
    text-decoration: none;
    padding: 10px 5px;
    color: #0194c5;
}
.form-control_radio{
    margin-top: 7px;
}
.form-group_label{
    min-width: 75px;
    margin:5px 5px;
}
.btn-submit{
    border: 0.5px ;
    color: #fff;
    background-color: dodgerblue;
    padding: 10px 20px;
    border-radius: 4px;
    outline: none;
}


.home-layout{
    width: 100vw;
    display: flex;
}

/*-------------------sidebar-------------------*/
.sidebar{
    background-color: #ffffff;
    width: 250px;
    min-height: 1000px;
    border-right: 0.4px solid #e7e2e2;
}

.icon-device{
    display: inline-block;
    width: 12%;
    height: 50%;
    padding: 12px 5px 0px 0px;
}

.sidebar-group{
    padding: 5px 5px;
    display: flex;
    justify-content: center;
}
.sidebar-group label{
    padding: 10px 0px 15px 0px;
    font-weight: 600;
    font-size: 18px;
}
.sidebar-group i{
    width: 25px;
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 5px;
}
.sidebar-group a{
    flex: 1;
    text-decoration: none;
    color: black;
    text-align: left;
    cursor: pointer;
    padding: 5px 5px;
}
.sidebar-group a:hover{
    color: deepskyblue;
}
.sidebar-group .active{
    color: deepskyblue;
}

/*--------------------------container-image----------------*/
.home-container{
    width: 100%;
}
.header{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: block;
    justify-content: center;
}
.content{
    width: 100%;
    min-height: 950px;
    background-color: #f5f5f5;
    display: inline-block;
}
.content-wrapper{
    margin: 50px 90px;
}
.setting{
    display: flex;
    justify-content: space-between;
}
.setting form{
    height: available;
    width: 45%;
    background-color: #fff;
}
.header-group{
    display: flex;
    justify-content: right;
    padding: 8px;
}
.icon-user{
    padding: 5px;
}
.header-identity{
    display: block;
    padding: 5px;
}
.image{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 5px;
}

/*---------------------table---------------------------*/

.content-table{
    width: 100%;
}

table {
    width: 100%;
    border: 2px solid #ffffff;
    border-collapse: collapse;
    margin: 50px auto;
    padding: 0;
}

table tr {
    background-color: #ffffff;
    border: 0.5px solid #ddd;
    padding: .5em;
}

table th,
table td {
    padding: .625em 1.25em;
    text-align: center;
}

table th {
    font-weight: 500;
    font-size: .85em;
    letter-spacing: .1em;
}

table .power{
    text-align: right;
}
table .total-label{
    font-weight: 600;
}
table .total-power{
    font-weight: 600;
    text-align: right;
}
table .total-page{
    font-weight: 600;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.add-device{
    text-align: center;
    width: 300px;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 2px ;
    box-shadow: 2px 2px #f5f5f5 ;
}
.add-device input{
    background-color: #f5f5f5;
    width: 90%;
    outline: none;
    display: block;
    border: 0.5px solid #f5f5f5;
    border-radius: 1px;
    box-shadow: 1px 1px #a4a4a4;
    margin: 15px 15px;
    padding: 10px 10px;
}
.add-device button{
    margin-top: 20px;
    padding: 10px 15px;
    background-color: deepskyblue;
    color: #fff;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px #d3d2d2;
}


/* CHART-SKILLS STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#chartContainer{
    max-height: 300px;
    max-width: 100%;
}
.chart{
    height: 400px;
}

/*-----------------------Log-----------------------------*/
/* ---------------search/total---------*/
.content-search{
    display: flex;
    justify-content: space-between;
    margin-bottom: -40px;
}
.search{

}
.search input, .total-device input{
    padding: 5px 10px;
    border: white;
    background-color: #d7d5d5;
    border-radius: 2px;
}
.search button, .total-device button{
    margin-left: 5px;
    border: white;
    background-color: #0194c5;
    color: white;
    border-radius: 4px;
    box-shadow: 1px 1px ;
    padding: 5px 10px;
}

/*-------pagination-------------*/
.pagination {
    float: right;
    display: flex;
}

.pagination a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    float: left;
    padding: 8px 16px;;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
.pagination form{
    margin-left: 10px;
}
.pagination input{
    border: 0.1px solid #d3d2d2;
    padding: 8px 4px;
}
.pagination form button{
    cursor: pointer;
    border: 0.1px solid #d3d2d2;
    padding: 8px 8px;
}

/*----------------responsive----------------------------*/
.openbtn{
    border: none;
    background-color: #f5f5f5;
    font-size: 20px;
    padding: 12px 10px;
    display:none;
}
.sidebar-indentity{
    display: none;
}
@media screen and (max-width: 414px){

    .content-wrapper{
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .sidebar{
        display: none;
        position: fixed;
    }
    .sidebar-label{
        display: none;
    }
    .sidebar-indentity{
        display: block;
        text-align: center;
    }
    .header{
        display: none;
    }
    .content-table{
        display: none;
    }
    .wrapper{
        display: block;
        margin:10px;
    }
    .add-device {
        margin-top: 20px;
        width: 90%;
    }
    #chartContainer .canvasjs-chart-container{
        position: inherit !important;
    }
    #chartContainer .canvasjs-chart-canvas{
        position: inherit !important;
    }
    .openbtn{
        display:block;
    }
}